



    .tarjeta{
       margin-bottom: 1px;
        background-color:rgb(242, 245, 248);
        width: 100%;
       height: auto;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr;
        grid-template-areas: 

        "parrafo img";
        background: rgb(242,242,242);
background: linear-gradient(309deg, rgba(242,242,242,1) 25%, rgba(249,249,249,1) 69%, rgba(224,224,224,1) 80%);
        

.parrafo{margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    grid-area: parrafo;
    font-family:"majormono";
    height: auto;
padding: 25px;

}

.img{grid-area: img;
}

.imgreal{width:100%;
    max-width: 100%;
    height: auto;
    }}
     
    @include tablet {
        
        .tarjeta{grid-template-columns:1fr;
                grid-template-rows: 1fr;
                grid-template-areas: 
        "parrafo"
        "img";
     margin-top: 40px;
    
        .parrafo{ margin-top:50px;}
        }}

        @include mobile {
            .tarjeta{ margin-top: 0px;}

    }
    
    

