

.section1{
    height: 1000px;
     background-size: 200vh;
     background-position: center;
     background-repeat: no-repeat;
     background-position-y: -120vh;
  
    background-image: url(/img/1filo.jpg);

    .parrafo{
        padding: 7vh;
        background-color: rgba(233, 227, 222, 0.806);
        border-radius: 15px;
    font-family: majormono;
margin-top: 100px;}
}
