footer{
    height: 50px;
    width: 100%;
    font-family: majormono;
    font-size: small;
    background-color: $colorhyf;

    footer li{
        list-style: none;
        margin-inline-start: 30px;
        margin-top: 20px;
    
    }
}