header{height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    font-family: majormono;
    

    
    
        .bg-body-tertiary {
            --bs-bg-opacity: 0;}

            .navbar{ background-color: transparent;}
   
    
        .navbar-nav{
            font-size: large;
            margin-left: 110vh;
            background-color: transparent;
   
         

            @include midway {
               
                margin-left: 72vh;

                @include tablet {
                    margin-left: 50px;
                }
                } 
          
        }
      
        
            .navbar-brand{
                font-size:xx-large;
                padding-left: 1rem;

               

                @include tablet {
                    padding-left: 10px;
                    font-size: x-large;} 
            }
            
           

            a{text-decoration: none;
                color: black;
                }

                .nav-link:hover {
                    transform: scale(1.06);
                    background-color: rgb(234, 206, 225);
                    border-radius: 10px;
                }
}

.navbar-brand:hover{
    transform: scale(1.1);
}