header{height: 70px;
    width: 100%;
    position: sticky;
    
    
    font-family: majormono;
    background-color: $colorhyf;
    z-index: 1;

   
    
        .navbar-nav{
            font-size: large;
            margin-left: 110vh;

            @include midway {
               
                margin-left: 72vh;

                @include tablet {
                    margin-left: 0vh;
                }
                } 
          
       
        }
      
        
            .navbar-brand{
                font-size:xx-large;
                padding-left: 1rem;

               

                @include tablet {
                    padding-left: 1rem;
            
                    
                   } 
            }
           
            a{text-decoration: none;
                color: black;
                }

                .nav-link:hover {
                    transform: scale(1.06);
                    background-color: rgb(234, 206, 225);
                }
}

.navbar-brand:hover{
    transform: scale(1.1);
}