.divlist{
    list-style: none;
    font-family: majormono;
    display: flex;
    position: fixed;
    padding-top: 120px;
    padding-left: 70px;


    .ullist{list-style: none;
        padding-inline: 10px;
        display: flex;
        display: list-item;
       
    
        .lilist{
            display: flex;
           
        }
    }

}

.divindex{ width:110%;
    
    height: 63rem;
    background-image: url(../img/tapa\ ESTA.jpg);
    
    background-size: 85%;
    background-position: 170px;
background-repeat: no-repeat;}