.divindex{ width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
   

.fondo{width: 122%;

    @include tablet {display: none;}
   
   
}



.fondomobile{ display: none;
    width: 120%;

@include tablet {display: block;}
@include mobile {width: 105%;height: auto;}}

}




