.mainmusic{
   
    background-image:url(../img/Captura\ de\ pantalla\ 2021-10-22\ a\ las\ 2.55.54\ p.m..png);
    height: 45rem;
    width: 100%;
    background-position-y: -40px;
   
    
    .contenedormusic {
        
         padding-left: 600px;
         background-position-y: top;
         
         
          width: 100%;
          height: 700px;
              display: grid;
              grid-template-columns:1fr 1fr ;
              grid-template-rows: 1fr 1fr 1fr 1fr;
              grid-template-areas: 
          
              ". ."
              "discos1 discos2"
              ". .";

              @include midway {

                padding-left: 300px;
              }
              @include tablet {

                padding-left: 135px;
              }
              @include mobile {

                padding-left: 120px;
                grid-template-columns:1fr;
                grid-template-rows: 1fr;
                grid-template-areas: 
                "discos1"
                "discos2";

                height: 550px;
                padding-top: 130px;
                
              }
             
              h4{font-family: majormono;
                margin-top: 20px;
            
            padding: 6px;
            background-color: rgb(221, 232, 232);
            padding-left: 32px;
            padding-right: 10px;
        
            border-radius: 10px;
            
            a{text-decoration: none;
                color: black;
                }
        }
              .discos1{
                height: 150px;
                width: 150px;
                
                
                
                 background-color:rgb(228, 232, 234);
                 border-radius: 10px;
                 grid-area: discos1;

                 .imghabitat{
                    width: 100%;
                
                    height: 100%;
                    border-radius: 5px;
                    
                }

                .titulohabitat{
                    font-size:medium;
                    
                }
                 }

                 .discos2{
                    height: 150px;
                    width: 150px;
                    
                    
                     background-color:rgb(228, 232, 234);
                     border-radius: 10px;
                     grid-area: discos2;

                     .imghabitat{
                        width: 100%;
                    
                        height: 100%;
                        border-radius: 5px;
                        
                    }
                    
                     .tituloaurora{
                        padding-left: 39px;
                        font-size: medium;
                        
                     }}
            }

}

.tituloaurora:hover{

  transform: scale(1.06);
  text-decoration:underline;
}
.titulohabitat:hover{
  transform: scale(1.06);
  text-decoration:underline;}

  .discos1:hover{
transform: scale(1.06);}

.discos2:hover{
transform: scale(1.06);}