

    .titulo{
        font-family: majormono;
        padding: 10vh;
        text-align: center;

       
        
       }

       h2{
        font-family: majormono;
         margin-top: 100px;
    
    }
