@font-face {
    font-family: "letra";
    src: url("../fonts/letra.ttf");
}
@font-face {
    font-family: "majormono";
    src: url("../fonts/majormono.ttf");
}

$fontmono: "majormono";
$colorhyf: aliceblue;